<html>
<head>
    <meta charset="UTF-8">
    <title>OrderPredict</title>
    <link rel="shortcut icon" href="#" />
    <link rel='stylesheet'type='text/css'href='/stylesheets/Marketing/Orderpredict.css'>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.cssntegrity="integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="topnav">
    <img src="images/台罐.png"/>
    <a href="/">Home</a>
    <a href="/customer">CustomerInfo</a>
    <a href="/orderpredict">OrderPredict</a>
    <a href="/customerpredict">CustomerPredict</a>
</div>
<form id="search-customer" action="" method="post">
    <p>
         <label for ="customerid" class="floatlabel">公司代號</label>
         <input id="customertid" name="customerid" type="text" required>
         <input type ="submit" value="搜尋" id="search_customerid">
    </p>
</form>

<h1>預期訂量</h1>
<div class="Prediction">
        <dd class="text-box-title">
            |公司代號:
        </dd>
        <dd class="text-box-content">
            |#{customerid}
        </dd>
        <dd class="text-box-title">
            |產品代號：
        </dd>
        <dd class="text-box-content">
            |#{productid}
        </dd>
        <dd class="text-box-title">
            |預期訂購量：
        </dd>
        <dd class="text-box-content">
            |#{predictamount}
        </dd>
</div>
</body>
</html>
